body{
    margin: 0;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.icone{
    height: 50px;
    width:50px
}
.en{
    margin: 0;
}
.a{
    font-size: 18px;
    text-decoration: none;
    color:  black;
    text-align: center;
    transition: transform 0.3s ease color 0.3s ease;
    border-bottom: 5px solid transparent;
}
.a:hover{
color: orange;
background-color: rgba(255, 255, 255, 0.479);
}
header{
    background-color: #f1efef;
    position: sticky ;
    top: 0;
    height: 45px;
} 
form{
    width: 500px;
    height: 650px;
    position: relative;
    border: 3 px solid black;
    justify-content: center;
    align-items: center;
}
input{
    width: 350px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.882);
    color: white;
}
input[type="submit"]{
    background-color: green;
    color: white;
    font-size: 14px;
}
textarea{
    width: 350px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.882);
    color: white;
}
button{
    color: black;
    border-radius: 10px;
    background-color: blue;
    width: 100px;
    height: auto;
}
button:hover{
    background-color: gray;
}
img{
    border: 2px solid black;
}
p{
    font-size: 22px;
    font-style: italic;
}
.logo{
    border: 1PX solid transparent;
    border-radius: 1000px;
}

h2,h1{
    text-align: center;}
    footer{
        width: 100%;
        height: 90PX;
        background-color: hwb(0 0% 100%);
    }
    hr{
        color: rgba(0, 0, 24, 0.945);
        margin-left: 30px;
        margin-right: 30px;
    }
@media screen and (max-width:501) {
    img{
        width: 100%;
    }
    p{
        width: 100%;
    }
    .en,header {
        width: 100%;
    }
    iframe{
        width: 100%;
    }
}
@media screen and (max-width:1500px)  {
    .en {
        width: 100%;
    }
}
@media screen and (max-width:1600px)  {
    .en {
        width: 100%;
    }
}
@media screen and (max-width:400px)  {
    img{
        width: 100%;
    }
    p{
        width: 100%;
    }
    .en {
        width: 100%;
    }
    iframe{
        width: 100%;
    }
}
@media screen and (max-width:200px)  {
    img{
        width: 100%;
    }
    p{
        width: 100%;
    }
    .en {
        width: 100%;
    }
}
@media screen and (max-width:375px)  {
    img{
        width: 100%;
    }
    p{
        width: 100%;
    }
    .en {
        width: 100%;
    }
    iframe{
        width: 100%;
    }
}
@media screen and (max-width:375px) {
    
    iframe{
        width: 100%;
    }
}

@media screen and (max-width:328px) {
    
    iframe{
        width: 100%;
    }
}
@media screen and (max-width:360px) {
    
    iframe{
        width: 100%;
    }
}

@media screen and (max-width:250px) {
    
    iframe{
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    
}
@media screen and (max-width:400px) {
    
}
@media screen and (max-width:300px) {
    
}
@media screen and (max-width:450px) {
   
}
@media screen and (max-width:350px) {
    
}
@media screen and (max-width:200px) {
    
}
@media screen and (max-width:550px) {
    
}
@media screen and (max-width:540px) {
    
}
@media screen and (max-width:515px) {
    
}
@media screen and (max-width:530px) {
     
}
@media screen and (max-width:600px) {
    
}





