body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone {
    height: 50px;
    width: 50px
}

.en {
    margin: 0;
}

.a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: transform 0.3s ease color 0.3s ease;
    border-bottom: 5px solid transparent;
}

.a:hover {
    color: orange;
    background-color: rgba(255, 255, 255, 0.479);
}

header {
    background-color: #010434;
    position: sticky;
    top: 0;
    height: 45px;
}

form {
    width: 500px;
    height: 650px;
    position: relative;
    border: 3 px solid black;
    justify-content: center;
    align-items: center;
}

input {
    width: 350px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.882);
    color: white;
}

.t {
    border-left: 10px solid #010434;
    margin-left: 10px;
}

.y {
    border-left: 10px solid #010434;
    margin-left: 10px;
}

input[type="submit"] {
    background-color: green;
    color: white;
    font-size: 14px;
}

textarea {
    width: 350px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.882);
    color: white;
}

button {
    color: black;
    border-radius: 10px;
    background-color: blue;
    width: 100px;
    height: auto;
}

button:hover {
    background-color: gray;
}

img {
    border: 2px solid black;
}

p {
    font-size: 22px;
    font-style: italic;
}

.logo {
    border: 1PX solid transparent;
    border-radius: 1000px;
}

h2,
h1 {
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    height: 90PX;
    color: white;
    background-color: hwb(0 0% 100%);
}

hr {
    color: rgba(0, 0, 24, 0.945);
    margin-left: 30px;
    margin-right: 30px;
}

@media screen and (max-width:501) {
    img {
        width: 100%;
    }

    p {
        width: 100%;
    }

    .en,
    header {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    .lo {
        width: 45px;
        height: 42px;
    }
}

@media screen and (max-width:1500px) {
    .en {
        width: 100%;
    }
}

@media screen and (max-width:1600px) {
    .en {
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    img {
        width: 100%;
    }

    p {
        width: 100%;
    }

    .en {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    .lo {
        width: 40px;
        height: 42px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width:200px) {
    img {
        width: 100%;
    }

    p {
        width: 100%;
    }

    .en {
        width: 100%;
    }
}

@media screen and (max-width:375px) {
    img {
        width: 100%;
    }

    p {
        width: 100%;
    }

    .en {
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}

@media screen and (max-width:375px) {

    iframe {
        width: 100%;
    }
}

@media screen and (max-width:328px) {

    iframe {
        width: 100%;
    }
}

@media screen and (max-width:360px) {

    iframe {
        width: 100%;
    }
}

@media screen and (max-width:250px) {

    iframe {
        width: 100%;
    }
}